# emacs files
*~
*\#*

# binary files
bin/bdsconfig
bin/maild
bin/newmail
bin/mailtool

# mail directories
inbound/
outbound/
mail/


# sqlite databases
*.sqlite
*.db

# go build files
pkg/

# private keys
*.dat
*.pem

# lua build files
*.s
*.o
*.a
*.so

