# emacs files
*~
*\#*

# binary files
bin/bdsconfig
bin/maild

# mail directories
inbound/
outbound/
mail/


# sqlite databases
*.sqlite
*.db

# go build files
pkg/

# private keys
*.dat

# lua build files
*.s
*.o
*.a
*.so